body {
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 0;
}

.horizontal {
    grid-template-columns: repeat(2, 372px);
    grid-column-gap: 2rem;
}

.horizontal h1 {
    margin-top: 0;
}

.horizontal .card-content {
    justify-content: space-between;
}

.horizontal .card-footer {
    align-self: end;
}

.horizontal.rtl {
    grid-template-areas: "start end";
}

.horizontal.rtl .thumbnail {
    grid-area: end;
}

.horizontal.rtl .card-content {
    grid-area: start;
}