@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500&display=swap');

body {
    margin: 0;
    background-color: #0D192B;
    font-family: 'Barlow Semi Condensed', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: #15263F;
    border-radius: 2rem;
    padding: 2rem;

    display: grid;
    grid-template-columns: 23.25rem;
}

.thumbnail {
    position: relative;
}
.thumbnail img {
    border-radius: 1rem;
    width: 372px;
    height: 372px;
}
.thumbnail svg {
    opacity: 0;
    transition: opacity .3s ease;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.thumbnail::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #00FFF8;
    opacity: 0;
    border-radius: 1rem;
    transition: opacity .3s ease;
}
.thumbnail:hover::after {
    opacity: .2;
}
.thumbnail:hover svg {
    opacity: 1;
}
.thumbnail:hover {
    cursor: pointer;
}

.card-content {
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
}
.card-content > * {
    margin: 0;
}

h1 {
    color: #fff;
}
h1:hover {
    color: #00FFF8;
    cursor: pointer;
}

p {
    color: #8BACDA;
    font-size: 1.4rem;
}

.card-footer {
    padding-top: 1.5rem;
    margin-top: 1rem;
}

hr {
    border: solid 1px #2F415B;
}

.card-footer img {
    width: 2.5rem;
    vertical-align: middle;
    margin-right: .5rem;
}
.card-footer span {
    color: #3D62C2;
}
.card-footer a {
    color: #9EB1E0;
    text-decoration: none;
}
.card-footer a:hover {
    color: #00FFF8;
}

.row {
    display: flex;
    justify-content: space-between;
}
.row .item {
    color: #8BACDA;

    display: flex;
    align-items: center;
    gap: .5rem;
}

.row .item:first-of-type {
    color: #00FFF8;
}